@use "sass:map";


/* make the customizations */
$theme-colors: (
    "info": #FFBC44,
    "primary": #60FF9F,
    "dark": #1a1a1a,
    "secondary" :#E6E6E6
);

h1 {
  color: map.get($theme-colors, "primary");
}



/* Masonry grid Cards */
/* Responsive cards /
  @media (min-width: 34em) {
    .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
  }
  
  @media (min-width: 48em) {
    .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
  }
  
  @media (min-width: 62em) {
    .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
  }
  
  @media (min-width: 75em) {
    .card-columns {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }
  }
  / Responsive cards end */




/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";